.header {
    background-color: rgba(39, 85, 252, 0.357);
    grid-area: h;
    display: flex;
}

.header img {
    width: 3rem;
    margin-left: 1rem;
}

.headerText {
    margin-left: 1rem   ;
    margin-top: 0.5rem;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(43, 46, 69),
    1px 1px 2px rgb(43, 46, 69);
}